# **Hello World**

Today we're learning Python for beginner data analytics.

Five key topics that we need to know
- variable
- data type
- data structure
- control flow
- function

In [ ]:
print ("hello world")

hello world

In [ ]:
print ("run me!")

run me!

In [ ]:
print (1 + 1)

2

##List

In [ ]:
movies = ["The Dark Knight" , "Superman" , "Beekeper"]

for movie in movies:
    print(movie)

The Dark Knight
Superman
Beekeper

In [ ]:
movies = movies + ["Titanic","Avatar"]
print(movies)

['The Dark Knight', 'Superman', 'Beekeper', 'Titanic', 'Avatar']

In [ ]:
int("150") * 2

300

In [ ]:
# python dynamic typed language
x = True
type(x)

bool

In [ ]:
# python type hint
name: str = "toy"
gpa: float = 3.45
age: int = 36
movie_lover: bool = True

print (name,gpa,age,movie_lover)

toy 3.45 36 True

In [ ]:
name:str=100
print(name)

100

## Tuple

In [ ]:
friends = ("toy", "john","doe")
type(friends)

tuple

In [ ]:
for name in friends:
    print("hi! " + name)

hi! toy
hi! john
hi! doe

In [ ]:
friends.count("toy")

1

In [ ]:
## tuple unpacking
age_friends =(35,30,28)

toy,john,doe = age_friends

print (toy,john,doe)

35 30 28

In [ ]:
## def new function that returns more than on value

def add_two_numbs (x,y):
    print ("greeting")
    return x + y
    print ("Starting")


## test function
result = add_two_numbs (10,15)

print (result)

greeting
25

In [ ]:
def create_books():
    return ("BSM","MMS","Coach Builder")

b1,b2,b3 = create_books()
b1,b2,_ = create_books()
print (b1,b2)

BSM MMS

## Dictionary

Key-value-pair

In [ ]:
customer01 = {
    "name": "toy",
    "age" : 36,
    "city" : "Bangkok"
}

In [ ]:
customer01

{'name': 'toy', 'age': 36, 'city': 'Bangkok'}

In [ ]:
customer01["name"]

'toy'

In [ ]:
## dic is mutable object
customer01["name"] = "John Wick"

print (customer01)

{'name': 'John Wick', 'age': 36, 'city': 'Bangkok'}

In [ ]:
## Add new key

In [ ]:
customer01["country"] = "United States"
customer01

{'name': 'John Wick', 'age': 36, 'city': 'Bangkok', 'country': 'United States'}

In [ ]:
customer01["name"]

dict_keys(['name', 'age', 'city', 'country'])

In [ ]:
for item in customer01.items():
    print(item[0],item[1])

name John Wick
age 36
city Bangkok
country United States

In [ ]:
customer01.get("name")

'John Wick'

In [ ]:
# delete key
customer01.pop("country")
customer01

{'name': 'John Wick', 'age': 36, 'city': 'Bangkok'}

In [ ]:
##Set
## Set in Python is unique

numbers = [1,1,2,3,4,5,5,6,9,9]
set(numbers)

{1, 2, 3, 4, 5, 6, 9}

In [ ]:
set_a = {"banana","apple"}
set_b = {"banana","orange"}


#union
set_a | set_b

#intersect
set_a & set_b

{'banana'}

## Control Flow

- if
- for
- while

In [ ]:
score = 95
if score > 80:
    print("passed")
else:
    print("failed")

passed

In [ ]:
# if else
score = 75
if score >= 80:
    print("A")
elif score >= 70:
    print("B")
elif score >=60:
    print("C")
else:
    print("Failed")

B

In [ ]:
#if else function
def grading(score):
   if score >= 80:
     return "A"
   elif score >= 70:
     return "B"
   elif score >= 60:
     return "C"
   else:
     return "Failed"

In [ ]:
grade = grading(85)
print(grade)

A

In [ ]:
score = 85

print("passed") if score >= 80 else print ("failed")

if score >= 80:
    print ("passed")
else:
    print ("failed")

passed
passed

In [ ]:
# for loop
artists = ["Taylor  Swift",
           "Spcie Girals",
           "Backstreet Boys"]


for artist in artists:
    first_name = artist.split(" ")[0].upper()
    if first_name == "TAYLOR":
        print ("Greeeeeed! I'm going to see you in Japan")
    else:
        print(first_name)

Greeeeeed! I'm going to see you in Japan
SPCIE
BACKSTREET

In [ ]:
# cost of program: time
nums = list(range(1,101)) # n - 1
print (nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
def sum_manual(nums):
    result = 0
    for num in nums:
        result = result + num
    return result

sum_manual(nums)

5050

In [ ]:
##(ต้น + ปลาย) * (ปลาย / 2)
def sum_shortcut (nums):
    return (nums[0] + nums [-1]) * nums[-1] / 2

sum_shortcut(nums)

5050.0

In [ ]:
# Whille Loop

n=1
while n < 5 :
     print ("hi!")
     n = n + 1

hi!
hi!
hi!
hi!

In [ ]:
def game():
    print("This is a test game!")
    while True:
        user_inp = input ("Do you want to continue or stop?")
        if user_inp == "stop":
            print ("Game stop!")
            break
        else:
            print ("Let's continue.")

game()

This is a test game!
Do you want to continue or stop?continue
Let's continue.
Do you want to continue or stop?continue
Let's continue.
Do you want to continue or stop?stop
Game stop!

## Object Oriented proramming

In [ ]:
class Book:
   # pass  #do nothing
   def __init__(self,name,year,author):
    self.name = name
    self.year = year
    self.author = author

In [ ]:
book1 = Book("Thik lik a freak",2010,"Dubner")
book2 = Book("Business Made Simple",2010,"Donald Miller")
book3 = Book("Data Science for Business",2015,"Willey")

In [ ]:
# dot notion is a way to access the attribute and methods of each method of different object classes
print (f"My book favorite are {book1.name},{book2.name} and {book3.name}")

My book favorite are Thik lik a freak,Business Made Simple and Data Science for Business

In [ ]:
#from importlib.util import spec_from_file_location
#OOP = Object Oriented Programming
#class dog

class Dog:
    def __init__(self,name,age,specie):
        self.name = name
        self.age = age
        self.specie = specie

    def sitting(self):
        print ("I'm sitting on the bed")

    def playing(self):
        print ("I play with my owner and bark")

dog1 = Dog("andy",3,"chihuahua")
print (dog1.name,dog1.age,dog1.specie)
dog1.sitting()
dog1.playing()

andy 3 chihuahua
I'm sitting on the bed
I play with my owner and bark